<% include ../partials/header %>

<!-- If not logged in -->
<% if(!currentUser){ %>
    <div class="container" id="jumbotron-container">
        <div class="jumbotron">
            <div class="container">
                <h1>Tidepod Trickshots Administration Centre</h1>
                <h3>This page is for admins only (Justin and Aaron)</h3>
                <h3>Proceed only if authorized</h3>
                <form action="/login">
                    <button class="btn btn-danger" type="submit">Proceed</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- if logged in -->
    <% }else{ %>
        <div class="container">
            <div class="jumbotron">
                <h1>Tidepod Trickshots Administration Centre</h1>
            </div>
            <div class="container episode-container">
                <a class="episode-link" href="/new">
                    <div class="row episode-row">
                        <h1><i class="fas fa-upload show-icon"></i>Upload a New Video</h1>
                    </div>
                </div>
            </a>
            <div class="container episode-container">
                <a class="episode-link" href="/register">
                    <div class="row episode-row">
                        <h1><i class="fas fa-user-plus show-icon"></i>Create a New User</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <% } %>
    
    
    <% include ../partials/footer %>