<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Sidebar css file -->
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <!-- my css file -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- open sans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
    <!-- nunito sans font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900&display=swap" rel="stylesheet">
    <!-- Lato font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <!-- Source sans pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- icon for website -->
    <link rel="icon" type="image/png" href="/images/tidepodicon.png">
    
    <title>Tidepod Trickshots Official Website</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            
            <div class="sidebar-header">
                <h3><a href="/">Tidepod Trickshots</a></h3>
            </div>
            
            <ul class="list-unstyled components">
                <li>
                    <a href="#videos" data-toggle="collapse" aria-expanded="false">Videos</a>
                    <ul class="collapse list-unstyled" id="videos">
                        <li>
                            <a href="/episodes">Full Episodes</a>
                        </li>
                        <li>
                            <a href="/bloopers">Bloopers</a>
                        </li>
                        <li>
                            <a href="/vlogs">Vlogs</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#about" data-toggle="collapse" aria-expanded="false">About</a>
                    <ul class="collapse list-unstyled" id="about">
                        <li>
                            <a href="/learnaboutus">Learn About Us</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/followus">Follow Us</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#subscribeModal">Subscribe</a>
                </li>
            </ul>
        </nav>
        
        <!-- Navbar -->
        <div id="content">
            
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Tidepod Trickshots</a>
                    <button type="button" id="sidebarCollapse" class="btn btn-white">
                        <i class="fas fa-list"></i>
                        <span>Menu</span>
                    </button>
                    
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <% if(currentUser){ %>
                                <li class="nav-item">
                                    <a class="nav-link">Signed In As: <%= currentUser.username %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                                <% } %>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-white" data-toggle="modal" data-target="#subscribeModal">
                                        <i class="fas fa-envelope"></i>
                                        <span>Subscribe</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subscribeModalLabel">Subscribe to Tidepod Trickshots</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="subscribe-description">
                        <p><i class="fas fa-check-square"></i>Email Notifications</p>
                        <p><i class="fas fa-check-square"></i>Personal Thank You Message</p>
                        <p><i class="fas fa-check-square"></i>Exclusive Giveaways</p>
                        <p><i class="fas fa-check-square"></i>Unsubscribe Anytime</p>
                    </div>
                    <form action="/signup" method="POST">
                        <div class="form-group container">
                            <div class="row">
                                <input id="email-input" type="email" name="email" placeholder="E-mail" required autocomplete="off">
                            </div>
                            <div class="row justify-content-end">
                                <button id="email-button" class="btn btn-secondary" type="submit"><i class="fas fa-user-plus subscribe-button"></i>Sign Up</button>
                            </div>
                        </div>
                    </form>
                    <div class="subscribe-description">
                        <a id="unsubscribe-link" href="/unsubscribe">Click Here to Unsubscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="overlay"></div>
    <div class="container" id="margin-jumbotron"></div>
    <!-- jquery, popper, bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Script for the sidebar -->
    <script type="text/javascript" src="/js/sidebar.js"></script>
    <!-- My javascript file-->
    <script type="text/javascript" src="/js/script.js"></script>
    