<% include ./partials/header%>

<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
        
    </style>
    
</head>
    
<body lang=EN-CA>

<div class="container" id="jumbotron-container">
    <div class="jumbotron">
        <div class="container">
            <h1>COVID-19 Update</h1>
        </div>
    </div>
</div>

<br>
<div class="container">
    <img class="coronalogo" src="/images/tidepodicon.png">
</div>

<br>
<div class="container">
    <div class=WordSection1>

        
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>March 13, 2020</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>Dear Tidepod Trickshots Fans,</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>As you know, we have suspended our season in response to
        the coronavirus pandemic. We made this decision to safeguard the health and
        well-being of trickshotters, cameramen, everyone connected to our channel and
        the general public. This is not a hiatus and we do not intend to resume the
        season.</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>In the meantime, we will continue to coordinate with
        infectious disease and public health experts along with government officials
        and Procter &amp; Gamble to determine safe protocols for starting season three.
        As we develop the appropriate course for future trickshots and vlogs, we will
        keep you informed of any changes as soon as they happen. Those who donated
        towards helping us complete the last few episodes of season 2 will receive a
        full refund along with signed Tide Pods</span><sup><span lang=EN
        style='font-size:12.0pt;line-height:115%;font-family:"Arial Unicode MS"'>&#9415;</span></sup><span
        lang=EN style='font-size:12.0pt;line-height:115%;font-family:Roboto'> from the
        two of us.</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>We encourage you to visit www.tidepodtrickshots.com for the
        latest news, updates and interactive features to stay connected with us. You
        will also find guidelines on how to keep yourself and your family safe and
        healthy.</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>This remains a complicated and rapidly evolving situation
        that reminds us that we are all part of a broader society with a responsibility
        to look out for one another. That is what the Tidepod Trickshots family will
        continue to do, and we are grateful for your understanding and for being the
        best fans in professional sports.</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>Sincerely,</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:10.0pt;line-height:115%'>&nbsp;</span></p>
        
        <!-- signature image -->
        <div class="col-md-6">
            <img class="signatures" src="/images/signatures.png" alt="">
        </div>
        
        <p class=MsoNormal><span lang=EN style='font-size:10.0pt;line-height:115%'>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>Aaron Chin &amp; Justin Yeung</span></p>
        
        <p class=MsoNormal><span lang=EN style='font-size:12.0pt;line-height:115%;
        font-family:Roboto'>Tidepod Trickshots Co-Commissioners</span></p>
        
        </div>
</div>
<br>

</body>

</html>


<% include ./partials/footer%>