<% include ./partials/header%>

<div class="container" id="jumbotron-container">
    <div class="jumbotron">
        <div class="container">
            <h1>Frequently Asked Questions</h1>
            <h2>Answers to your most common questions!</h2>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="question">Q: Are you guys single?</h1>
    <h2 class="answer">A: This is the #1 most frequently asked question.</h2>

    <h1>Q: How many tries does it usually take to make each shot?</h1>
    <h2>A: One.</h2>

    <h1>Q: If you could collab with anyone right now, who would it be?</h1>
    <h2>A: Dude Perfect, Nelk, or Allie C.</h2>

    <h1>Q: Have you guys ever heard of cross contamination?</h1>
    <h2>A: That's really just a myth.</h2>

    <h1>Q: Do you guys have any tips for your fans that want to be like you?</h1>
    <h2>A: Be naturally born with trickshotting and camera talent.</h2>

    <h1>Q: Where do you see yourself in 5 years?</h1>
    <h2>A: Full time content creators.</h2>

    <h1>Q: Do your family/friends support you?</h1>
    <h2>A: No. They threaten to disown us every day.</h2>
</div>


<% include ./partials/footer%>