<% include ./partials/header%>

<div class="container" id="jumbotron-container">
    <div class="jumbotron">
        <div class="container">
            <h1>Frequently Asked Questions</h1>
            <h2>Answers to your most common questions!</h2>
        </div>
    </div>
</div>

<div class="container">
    <h1>Q: question</h1>
    <h2>A: answer</h2>
</div>


<% include ./partials/footer%>