<% include ./partials/header%>

<div id="landing-container" class="container-fluid">
    <img id="landing-img" class="img-responsive" src="https://www.stantec.com/content/dam/stantec/images/projects/0037/mcmaster-university-les-prince-hall-002.jpg">
</div>
<!-- items -->
<div class="container border border-dark">
    <div class="row">
        <div class="card col-md-6 border border-dark">Get Notified!</div>
        <div class="card col-md-6 border border-dark">Become a Member</div>
        <a href="http://www.google.ca">Link</a>
    </div>
    
</div>

<% include ./partials/footer%>