<% include ./partials/header%>

<div id="landing-container" class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item item-1 active border birder-dark">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <h1 class="align-middle">Tidepod Trickshots</h1>
                            <h2>New Episodes every Laundry Day</h2>
                            <a href="/episodes" class="btn btn-light btn-lg active" role="button" aria-pressed="true"><i class="fas fa-play"></i>Watch Now</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="carousel-item item-2 border">
                <div class="container-fluid">
                    <h1>Bloopers & Behind the Scenes</h1>
                    <h2>Watch Exclusively on our Website</h2>
                    <a href="/bloopers" class="btn btn-light btn-lg active" role="button" aria-pressed="true"><i class="fas fa-play"></i>Watch Now</a>
                </div>
            </div>
            <div class="carousel-item item-3 border">
                <div class="container-fluid">
                    <h1>Subscribe Today</h1>
                    <h2>Get Notified every time a Video is Posted</h2>
                    <a href="" class="btn btn-light btn-lg active"  data-toggle="modal" data-target="#subscribeModal" role="button" aria-pressed="true"><i class="fas fa-user-plus"></i>Sign Up</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- items -->
<div class="container landing-boxes">
    <div class="row landing-row">
        <div class="col-md-6">
            <h1>Re-think the way you do Laundry</h1>
            <p>Weekly Videos showcasing unique ways to Clean your Clothes.</p>
        </div>
        <div class="col-md-6">
            image
        </div>
    </div>
    <hr>
    <div class="row landing-row">
        <div class="col-md-6">
            <h1>Defying the laws of Physics</h1>
            <p>Science laws do not apply to our great trickshots.</p>
        </div>
        <div class="col-md-6">Image</div>
    </div>
    <hr>
    <div class="row landing-row">
        <div class="col-md-6">
            <h1>100% Accuracy Guarantee</h1>
            <p>All shots are first tries, we never miss.</p>
        </div>
        <div class="col-md-6">Image</div>
    </div>
    <hr>
    <div class="row landing-row">
        <div class="col-md-6">
            <h1>Re-watch Every Episode</h1>
            <p>Play any episode you want, wherever you want, whenever you want!</p>
        </div>
        <div class="col-md-6">
            <img class="landing-image" src="https://i.imgur.com/RbdL75T.png" alt="">
        </div>
    </div>
    <hr>
    <div class="row landing-row">
        <div class="col-md-6">
            <h1>Join the Tidepod Trickshots Family</h1>
            <p>Subscribe to get notified whenever a new episode is released.</p>
        </div>
        <div class="col-md-6">
            <form action="/signup" method="POST">
                <div class="form-group form-landing container">
                    <div class="row">
                        <input id="email-input" type="email" name="email" placeholder="E-mail" required autocomplete="off">
                    </div>
                    <div class="row justify-content-end">
                        <button id="email-button" class="btn btn-secondary" type="submit"><i class="fas fa-user-plus subscribe-button"></i>Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row landing-row">
        <div class="col-md-6">
            <h1>Can't wait?</h1>
            <p>Add us on Snapchat to watch episodes live!</p>
        </div>
        <div class="col-md-6">
            <img class="landing-image" src="https://i.imgur.com/w3mxNWl.jpg" alt="">
        </div>
    </div>
    
</div>

<% include ./partials/footer%>