<% include ./partials/header%>

<div class="container" id="jumbotron-container">
    <div class="jumbotron">
        <div class="container">
            <h1>Learn About Us</h1>
            <h2>Get to know your stars!</h2>
        </div>
    </div>
</div>

<div class="container followus-container">
    <div class="row followus-name">
        <h1>Aaron Chin</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="profile-pic" src="/images/aaron.jpg" alt="">
        </div>
    </div>
</div>
<hr class="line-about">
<div class="container followus-container">
    <div class="row followus-name">
        <h1>Justin Yeung</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="profile-pic" src="/images/justin.jpg" alt="">
        </div>
    </div>
</div>

<% include ./partials/footer%>